<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Un recorrido por los mejores juegos de Star Wars hasta la fecha">
    <meta name="keywords" content="Star Wars, triologías, escenas memorables, yoda, obi-wan, luke, darth vader">
    <title>StarWars/Juegos/Plataformas</title>
    <link rel="shortcut icon" href="../logo/STAR-WARS-9.jpg" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lato:ital,wght@0,700;1,100&family=Montserrat:wght@500&family=Padauk&family=Plus+Jakarta+Sans:wght@300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <!-- header -->
      <header>
        <!-- Alerta para suscripcion -->
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>
                BIENVENIDO!! No te olvides de suscribirte a nuestro <a href="./views/registro.html" target="_blank" class="alert-link">NEWSLETTER</a>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
          <!-- Navegador -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- Logo -->
            <picture>
                <a href="/index.html"><img class="navbar__img" src="../logo/STAR-WARS-9.jpg" alt="logo"></a>
            </picture>
            <!-- barra de menu -->
            <div class="barra container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>               
                </button>            
                
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                    </li>                     
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./peliculas.html">Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./videos.html">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./juegos.html">Juegos/Plataformas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./registro.html">Registrate</a>
                    </li>
                </ul>
                
                <!--Buscador-->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Buscar</button>
                </form>            
            </div>
        </nav>
    </header>
    <!-- Main -->
    <main class="main__container3">
        <h1 class="peli__h1">JUEGOS </h1>
        <h2 class="registro">Compartimos en este espacio nuestro top 3 de los mejores juegos del universo de Star Wars</h2>
        <!-- cards -->
        <div data-aos="fade-up" class="card bg-dark text-white mb-5 container-fluid">
            <img src="https://www.somosxbox.com/wp-content/uploads/2020/05/0000024471.jpg" class="card-img" alt="card">
            <div class="card-img-overlay">
                <h3 class="card-title">1. Star Wars Jedi Fallen Order</h3>
                <p class="card-text">Una aventura de dimensiones galácticas te espera en Star Wars Jedi Fallen Order, un juego de acción-aventura en tercera persona de Respawn Entertainment. Un padawan superviviente debe completar su entrenamiento.</p>             
            </div>
        </div>

        <div data-aos="fade-up" class="card bg-dark text-white mb-5 container-fluid">
            <img src="https://www.somosxbox.com/wp-content/uploads/2020/05/Star-Wars-Battlefront-2.jpg" class="card-img" alt="card2">
            <div class="card-img-overlay">
                <h3 class="card-title">2. Star Wars Battlefront II</h3>
                <p class="card-text">Star Wars Battlefront II recibió muchas críticas tras su lanzamiento, y con razón. EA esencialmente puso en forma un modelo de juego gratuito en uno de pago, vinculando el sistema de progresión mediante las cajas de botín y dando a los jugadores ventajas significativas al pagar.</p>              
            </div>
        </div>

        <div data-aos="fade-up" class="card bg-dark text-white mb-5 container-fluid">
            <img src="https://www.somosxbox.com/wp-content/uploads/2020/05/apps.16477.70150884927435795.96c7e3bf-e29a-464f-b969-faf5cc06de1f.jpg" class="card-img" alt="card3">
            <div class="card-img-overlay">
                <h3 class="card-title">3. Star Wars The Force Unleashed II</h3>
                <p class="card-text">Star Wars El Poder de la Fuerza II tiene elementos del primer juego. El combate fue modificado para incluir la habilidad de tener dos Sables Láser y aprender nuevos poderes de la fuerza, como «Control Mental» y «Furia de la Fuerza». </p>              
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
        <!-- Footer nav -->
        <nav class="navbar navbar-expand-lg navbar-dark footer__nav">        
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav flex-column">  
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                    </li>                  
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/peliculas.html">Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/peliculas.html">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/juegos.html">Juegos/Plataformas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/registro.html">Registrate</a>
                    </li>               
                </ul>                           
                       
        </nav>
        <!-- Footer logo -->        
        <img class="footer__img" src="../logo/STAR-WARS-9.jpg" alt="logo">
        <!-- Footer Info -->
        <div class="footer__info">            
            <ul>
                <ul>
                    <li><img class="red__ico" src="../sources/redes/facebu.svg" alt="facebook"></li>
                    <li><img class="red__ico" src="../sources/redes/instagra.ico" alt="instagram"></li>
                    <li><img class="red__ico" src="../sources/redes/twitter_2_icon-icons.com_59206.svg" alt="twitter"></li>
                    <li><img class="red__ico" src="../sources/redes/yout.svg" alt="youtube"></li>                
                </ul>
            </ul>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    
</body>
</html>