<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Peliculas, las mejores recomendaciones para que disfrutes de este impresionante universo">
    <meta name="keywords" content="Star Wars, triologías, escenas memorables, yoda, obi-wan, luke, darth vader">
    <title>StarWars/Trilogias</title>
    <link rel="shortcut icon" href="../logo/STAR-WARS-9.jpg" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lato:ital,wght@0,700;1,100&family=Montserrat:wght@500&family=Padauk&family=Plus+Jakarta+Sans:wght@300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <!-- header -->
      <header>
        <!-- Alerta para suscripcion -->
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>
                BIENVENIDO!! No te olvides de suscribirte a nuestro <a href="./views/registro.html" target="_blank" class="alert-link">NEWSLETTER</a>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
          <!-- Navegador -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- Logo -->
            <picture>
                <a href="../index.html"><img class="navbar__img" src="../logo/STAR-WARS-9.jpg" alt="logo"></a>
            </picture>
            <!-- barra de menu -->
            <div class="barra container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>               
                </button>            
                
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    </li>                     
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./peliculas.html">Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./videos.html">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./juegos.html">Juegos/Plataformas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./registro.html">Registrate</a>
                    </li>
                </ul>
                
                <!--Buscador-->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Buscar</button>
                </form>            
            </div>
        </nav>
    </header>
    <!-- Main-->
    <main class="main__container2 container-fluid">
        <h1 class="peli__h1">Peliculas</h1>
        <h2 class="registro">Compartimos en esta seccion nuestro TOP 3 de las mejores peliculas de STAR WAR</h2>
        <!--contenido-->
        <div class="row g-0 text-light p-3 position-relative container-fluid">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://pics.filmaffinity.com/La_guerra_de_las_galaxias_Episodio_IV_Una_nueva_esperanza-699532462-large.jpg" class="w-100 container-fluid" alt="imagen1">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                 <h3 class="mt-0 h2">1- Episode IV: A new hope</h3>
                <p>Episode IV es una película de aventuras redonda, extraordinaria. Tiene todos los ingredientes. Y extrañamente, a pesar de que los spin-offs deben ser historias independientes, el Episodio IV es el único que funciona por sí solo, con principio y final. Lucas lo bordó con su producción más arriesgada, aportando un espectáculo nunca visto antes en la gran pantalla.</p>
                 <a href="https://www.youtube.com/embed/vZ734NWnAHA" target="_blank" class="stretched-link link-warning">Ver Trailer</a>
            </div>
        </div>

        <div class="row g-0 text-light p-3 position-relative container-fluid">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://static2.abc.es/media/play/2017/12/19/asdasd-kIZF--1240x698@abc.jpg" class="w-100 container-fluid" alt="imagen2">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <h3 class="mt-0 h2">2- Episode V - The Empire Strikes Back</h3>
                <p>La entrega más aclamada de la saga siempre ha tenido un problema para mi gusto: ese final abrupto. O dicho de otro modo, carece de final. Es la primera mitad de una historia, realmente. Aun así, valorándola por separado, es fácil entender por qué es la favorita de tanta gente: es épica, oscura, tiene el giro sorpresa de la saga, la dramática captura de Han Solo, la batalla en el planeta Hoth... Es una secuela ejemplar. Dentro de este episodio encontramos la escena mas iconica de la historia de Star Wars, y es cuando Vader pronuncia su famoso: "Luke, yo soy tu padre".</p>
                <a href="https://www.youtube.com/watch?v=JNwNXF9Y6kY" target="_blank" class="stretched-link link-warning">Ver Trailer</a>
            </div>
        </div>

        <div class="row g-0 text-light p-3 position-relative container-fluid">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://www.indiewire.com/wp-content/uploads/2017/12/mark-hamill1-e1513359214682.jpg" class="w-100 container-fluid" alt="imagen3">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <h3 class="mt-0 h2">3- Episode VIII: The Last Jedi</h3>
                <p>La película más polémica de la franquicia, hasta la fecha, es para mí una de las mejores. Entiendo el enfado de algunos fans, a mí tampoco me convencieron algunas decisiones pero en el segundo visionado, ya más relajado, pude disfrutar de una historia que, en realidad, es muy respetuosa con el espíritu de la trilogía original. Es divertida, emocionante, hermosa y atrevida, intenta llevar la saga más allá. Estoy seguro de que, con el paso del tiempo, el Episodio VIII será reivindicado. Los grandes cambios pueden ser difíciles de asumir y decir adiós a Luke no es fácil, pero su despedida es maravillosa.</p>
                <a href="https://www.youtube.com/watch?v=3_YJYdJA6Yc" target="_blank" class="stretched-link link-warning">Ver Trailer</a>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
        <!-- Footer nav -->
        <nav class="navbar navbar-expand-lg navbar-dark footer__nav">        
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav flex-column">  
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                    </li>                  
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/peliculas.html">Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/peliculas.html">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/juegos.html">Juegos/Plataformas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/registro.html">Registrate</a>
                    </li>                
                </ul>                           
                       
        </nav>
        <!-- Footer logo -->        
        <img class="footer__img" src="../logo/STAR-WARS-9.jpg" alt="logo">
        <!-- Footer Info -->
        <div class="footer__info">            
            <ul>
                <ul>
                    <li><img class="red__ico" src="../sources/redes/facebu.svg" alt="facebook"></li>
                    <li><img class="red__ico" src="../sources/redes/instagra.ico" alt="instagram"></li>
                    <li><img class="red__ico" src="../sources/redes/twitter_2_icon-icons.com_59206.svg" alt="twitter"></li>
                    <li><img class="red__ico" src="../sources/redes/yout.svg" alt="youtube"></li>                 
                </ul>
            </ul>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    
</body>
</html>