/*variables*/
// Colors //
$primary: #e6c611;
$secondary: #fafafa;
$alternative: #000000;
$text-color: #2B2B2B;
// ----------Spacings//
// mobile//
$spacing-large: 4vw;
$spacing-medium: 2vw;
$spacing-small: 1.5vw;
$spacing-xsmall: 0.1vw;
//Font-family //
$font-principal: 'Heebo', sans-serif;
$font-title: 'Lato', sans-serif;
//---------Font-Sizes //
// mobile //
$text-large: 12vw;
$text-medium: 4vw;
$text-xmedium:6vw;
$text-base: 3.3vw;
$text-small: 3vw;
// tablet & desktop //
$text-xs:1em;
$text-s: 1.3em;
$text-b: 1.5em;
$text-m: 1.7em;
$text-xm: 2.5em;
$text-l:  4.1em; 